*{
    box-sizing: border-box;
}

body{
    margin: 0;
    /* padding: 0; */
}

.video-container{
    height: 100vh;
    width: 100vw;
    background-color: black;
}

.video{
    height:100%;
    width: 100%;
}

.record-btn:hover{
    opacity:0.7;
}
.capture-btn:hover{
    opacity:0.7;
}
.record-btn,.capture-btn{
    
    height: 4.5rem;
    width: 4.5rem;
    top: 1rem;
    border-radius: 50%;
    z-index: 2;
    border: none;
    outline: none;
    
}
.record-btn{
    background-color: red;
}
.capture-btn{
    top:55vh;
}

.parent-btn{
    height: 6.5rem;
    width: 6.5rem;
    border: 0.5rem solid white;
    position: fixed;
    top: 30vh;
    z-index: 2;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 3vw;
}

.capture-container{
    top: 50vh;


}
.record-animation{
    animation: scaleUp 1s ease-out infinite;
}
.capture-animation{
    animation: scaleUp 1s ease-in;
}
@keyframes scaleUp {
    0%{
        transform: scale(1);
    }
    25%{
        transform: scale(1.125);
    }
    50%{
        transform: scale(1.16);
    }
    75%{
        transform: scale(1.125);
    }
}


.filter-container{
    height:50vh;
    width:5rem;
    position: fixed;
    top: 10vh;
    left: 5vw;
    
}

.filter{
    background-image: url(https://picsum.photos/seed/picsum/200/300);
    height: 20%;
    background-size: cover;
    /* colour bg with image */
    background-blend-mode: color-burn;
}

.timing{
    color: white;
    position: fixed;
    bottom: 15vh;
    left: 5vw;
    font-size: 1.5rem;
    font-family:sans-serif ;
    font-weight: 600;
    display: none;
}

.timing-active{
    display: block;
}